# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/
build/
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json

# Build output
output/
logs/

# Windows
Thumbs.db

# Personal config files
local_config.yaml
